<style>
  .button {
    background-color: azure;
    border: none;
    color: white;
    padding: 10px 15px; /* Increase padding for bigger buttons */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px; /* Increase font size for bigger buttons */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    border-color: black;
    border-width: thin;
    border-style: solid;
  }

  .button:hover {
    background-color: white;
    color: black;
  }

  .publication {
    width: 45%; /* Set width to 45% */
  }
  .publication-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-gap: 20px; /* Add gap between publications */
  }
</style>

<div class="row g-5 mb-5">
  <div class="col-md-6"> <!-- Two columns -->
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    <div class="publication-container">
      {% if page.title == "Home" %}
        {% for item in site.data.publications.featured %}
          <div class="publication">
            <img src="{{ site.github.url }}/{{ item.image }}" alt="Publication Image"> <!-- Add image -->
            <div class="publication-info">
              <h4>{{ item.name }}</h4> <!-- Change from <p> to <h4> for publication title -->
              <button class="button"><a href="{{ site.github.url }}/{{ item.urlpdf }}">pdf</a></button>
              <button class="button"><a href="{{ site.github.url }}/{{ item.urlbib }}">bib</a></button>
            </div>
          </div>
        {% endfor %}
      {% else %}
        {% for item in site.data.publications.index %}
          <div class="publication">
            <img src="{{ site.github.url }}/{{ item.image }}" alt="Publication Image"> <!-- Add image -->
            <div class="publication-info">
              <h4>{{ item.name }}</h4> <!-- Change from <p> to <h4> for publication title -->
              <button class="button"><a href="{{ site.github.url }}/{{ item.urlpdf }}">pdf</a></button>
              <button class="button"><a href="{{ site.github.url }}/{{ item.urlbib }}">bib</a></button>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
