<style>
  .button {
    background-color: #0e100e;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
  }
  .button:hover {
    background-color: white;
    color: black;
  }
</style>
<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <p>{{ item.name }}</p>
        <button class="button"><a href="{{ site.github.url }}/{{ item.urlpdf}}";
                                  color="white";
                                  background-color="transparent";
                                  text-decoration="none";
                                  onmouseover = "this.style.color = 'black'";
                                  onmouseover = "this.style.backgroundcolor = 'trasparent'";
                                  onmouseover = "this.style.padding ='5px 5px'">pdf</a></button>
        <button class="button"><a href="{{ site.github.url }}/{{ item.urlbib}}">bib</a></button>
      {% endfor %}
    {% else %}
      {% for item in site.data.publications.index %}
        <p>{{ item.name }}</p>
      {% endfor %}
    {% endif %}
  </div>
</div>
