<style>
  .button {
    background-color: black;
    border: 1px solid gray;
    color: white !important;
    padding: 4px 10px;
    text-align: center;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
  }

  .button:hover {
    background-color: white;
    color: black;
  }

  .publication {
    display: inline-block;
    margin-right: 20px;
  }

  .publication h4, .publication h5 {
    margin: 5px 0;
  }

  .publication-container {
    display: inline;
  }

  .button a {
    color: inherit; /* Ensure the link inherits the button's text color */
  }

</style>

<div>
  <h3>Publications</h3>
  <hr width="100%" size="5" color="blue">
  <div class="publication-container">
    {% for item in site.data.publications %}
      <div class="publication">
        <h4>{{ item.title }}</h4>
        <h5>{{ item.name }}</h5>
        <button class="button">
          <a href="{{ item.urlpdf }}" target="_blank">pdf</a>
        </button>
        <button class="button">
          <a href="{{ item.urlbib }}" target="_blank">bib</a>
        </button>
      </div>
    {% endfor %}
  </div>
</div>
