---
layout: default
---

{{ content }}

<h3 class="fw-bold border-bottom pb-3 mb-5">Art Gallery</h3>
{% for photo in site.data.settings.gallery %}
<div class="row g-5 mb-5">
  <div class="col-md-6 text-center social-media-icons">
    <h5>{{ photo.name }}</h5>
    <p align="left"><i class="fab fa-spotify"></i>suggested soundtrack:</p>
    <p align="left"><a href="{{ photo.spotifyurl }}">{{ photo.soundtrack }}</a></p>
    <p align="left">{{ photo.author }}</p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/{{ photo.image }}" alt="Contact" width="100%">
  </div>
</div>
{% endfor %}
